<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener Microservice | freeCodeCamp.org</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>
    <p>
      Example: <code>POST [project_url]/api/shorturl - https://www.google.com</code>
    </p>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/">
            <input type="submit" value="POST URL">
          </fieldset>
        </form>
      </section>
      <h2>Example Usage:</h2>
      <a href="https://url-shortener-microservice.freecodecamp.rocks/api/shorturl/3">
        [this_project_url]/api/shorturl/3
      </a>
      <h3>Will Redirect to:</h3>
      <p>https://forum.freecodecamp.org/</p>
    </main>
  </div>
  <div class="footer">
    <p>
      By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> and updated by <a href="https://github.com/pak999">Pak9999</a>
    </p>
  </div>
  
</body>
</html>
